<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lr.dao.applyRankMapper">
  <resultMap id="BaseResultMap" type="cn.lr.po.applyRank">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="startTime" jdbcType="VARCHAR" property="startTime" />
    <result column="checkIdList" jdbcType="VARCHAR" property="checkIdList" />
    <result column="checkTimeList" jdbcType="VARCHAR" property="checkTimeList" />
    <result column="checkList" jdbcType="VARCHAR" property="checkList" />
    <result column="noteList" jdbcType="VARCHAR" property="noteList" />
    <result column="endTime" jdbcType="VARCHAR" property="endTime" />
    <result column="checkNumber" jdbcType="INTEGER" property="checkNumber" />
    <result column="dynamicId" jdbcType="INTEGER" property="dynamicId" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, startTime, checkIdList, checkTimeList, checkList, noteList, endTime, checkNumber, 
    dynamicId, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_applyrank
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_applyrank
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.lr.po.applyRank" useGeneratedKeys="true" keyProperty="id">
    insert into tb_applyrank (id, startTime, checkIdList, 
      checkTimeList, checkList, noteList, 
      endTime, checkNumber, dynamicId, 
      state)
    values (#{id,jdbcType=INTEGER}, #{startTime,jdbcType=VARCHAR}, #{checkIdList,jdbcType=VARCHAR}, 
      #{checkTimeList,jdbcType=VARCHAR}, #{checkList,jdbcType=VARCHAR}, #{noteList,jdbcType=VARCHAR}, 
      #{endTime,jdbcType=VARCHAR}, #{checkNumber,jdbcType=INTEGER}, #{dynamicId,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.lr.po.applyRank" useGeneratedKeys="true" keyProperty="id">
    insert into tb_applyrank
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="startTime != null">
        startTime,
      </if>
      <if test="checkIdList != null">
        checkIdList,
      </if>
      <if test="checkTimeList != null">
        checkTimeList,
      </if>
      <if test="checkList != null">
        checkList,
      </if>
      <if test="noteList != null">
        noteList,
      </if>
      <if test="endTime != null">
        endTime,
      </if>
      <if test="checkNumber != null">
        checkNumber,
      </if>
      <if test="dynamicId != null">
        dynamicId,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="checkIdList != null">
        #{checkIdList,jdbcType=VARCHAR},
      </if>
      <if test="checkTimeList != null">
        #{checkTimeList,jdbcType=VARCHAR},
      </if>
      <if test="checkList != null">
        #{checkList,jdbcType=VARCHAR},
      </if>
      <if test="noteList != null">
        #{noteList,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="checkNumber != null">
        #{checkNumber,jdbcType=INTEGER},
      </if>
      <if test="dynamicId != null">
        #{dynamicId,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.lr.po.applyRank">
    update tb_applyrank
    <set>
      <if test="startTime != null">
        startTime = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="checkIdList != null">
        checkIdList = #{checkIdList,jdbcType=VARCHAR},
      </if>
      <if test="checkTimeList != null">
        checkTimeList = #{checkTimeList,jdbcType=VARCHAR},
      </if>
      <if test="checkList != null">
        checkList = #{checkList,jdbcType=VARCHAR},
      </if>
      <if test="noteList != null">
        noteList = #{noteList,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        endTime = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="checkNumber != null">
        checkNumber = #{checkNumber,jdbcType=INTEGER},
      </if>
      <if test="dynamicId != null">
        dynamicId = #{dynamicId,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.lr.po.applyRank">
    update tb_applyrank
    set startTime = #{startTime,jdbcType=VARCHAR},
      checkIdList = #{checkIdList,jdbcType=VARCHAR},
      checkTimeList = #{checkTimeList,jdbcType=VARCHAR},
      checkList = #{checkList,jdbcType=VARCHAR},
      noteList = #{noteList,jdbcType=VARCHAR},
      endTime = #{endTime,jdbcType=VARCHAR},
      checkNumber = #{checkNumber,jdbcType=INTEGER},
      dynamicId = #{dynamicId,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
   <select id="selectByDynamic" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_applyrank
    where dynamicId = #{dynamicId,jdbcType=INTEGER}
  </select>
</mapper>