<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lr.dao.customerProjectMapper">
  <resultMap id="BaseResultMap" type="cn.lr.po.customerProject">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customerId" jdbcType="INTEGER" property="customerId" />
    <result column="employeeId" jdbcType="INTEGER" property="employeeId" />
    <result column="projectId" jdbcType="INTEGER" property="projectId" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="dateTime" jdbcType="VARCHAR" property="dateTime" />
    <result column="restCount" jdbcType="INTEGER" property="restCount" />
    <result column="ingCount" jdbcType="INTEGER" property="ingCount" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, customerId, employeeId,projectId, count, dateTime, restCount, ingCount,state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_customerproject
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_customerproject
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.lr.po.customerProject" useGeneratedKeys="true" keyProperty="id">
    insert into tb_customerproject (id, customerId, projectId, 
      count, dateTime, restCount, ingCount,
      state)
    values (#{id,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER},#{employeeId,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, 
      #{count,jdbcType=INTEGER}, #{dateTime,jdbcType=VARCHAR}, #{restCount,jdbcType=INTEGER}, #{ingCount,jdbcType=INTEGER}
      #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.lr.po.customerProject" useGeneratedKeys="true" keyProperty="id">
    insert into tb_customerproject
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="customerId != null">
        customerId,
      </if>
      <if test="employeeId != null">
        employeeId,
      </if>
      <if test="projectId != null">
        projectId,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="dateTime != null">
        dateTime,
      </if>
      <if test="restCount != null">
        restCount,
      </if>
      <if test="ingCount != null">
        ingCount,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="employeeId != null">
        #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="dateTime != null">
        #{dateTime,jdbcType=VARCHAR},
      </if>
      <if test="restCount != null">
        #{restCount,jdbcType=INTEGER},
      </if>
      <if test="ingCount != null">
        #{ingCount,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.lr.po.customerProject">
    update tb_customerproject
    <set>
      <if test="customerId != null">
        customerId = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="employeeId != null">
        employeeId = #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        projectId = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="dateTime != null">
        dateTime = #{dateTime,jdbcType=VARCHAR},
      </if>
      <if test="restCount != null">
        restCount = #{restCount,jdbcType=INTEGER},
      </if>
      <if test="ingCount != null">
        ingCount = #{ingCount,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.lr.po.customerProject">
    update tb_customerproject
    set customerId = #{customerId,jdbcType=INTEGER},
    	employeeId = #{employeeId,jdbcType=INTEGER},
      projectId = #{projectId,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER},
      dateTime = #{dateTime,jdbcType=VARCHAR},
      restCount = #{restCount,jdbcType=INTEGER},
      ingCount = #{ingCount,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByCustomer"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_customerproject
    where customerId = #{customerId,jdbcType=INTEGER} and state = #{state,jdbcType=INTEGER}
  </select>
  <select id="selectByEmployeeWTJ"  resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from tb_customerproject
    where employeeId = #{employeeId,jdbcType=INTEGER} and state = #{state,jdbcType=INTEGER} and to_days(dateTime) = to_days(now()) 
  </select>
  <select id="selectByEmployeeWSHAndSHZ"  resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from tb_customerproject
    where employeeId = #{employeeId,jdbcType=INTEGER} and state in (#{stateWSH,jdbcType=INTEGER},#{stateSHZ,jdbcType=INTEGER}) and to_days(dateTime) = to_days(now()) 
  </select>
  <select id="selectByEmployee"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_customerproject
    where employeeId = #{employeeId,jdbcType=INTEGER} and state > #{state,jdbcType=INTEGER} order by dateTime desc limit #{page},#{size}
  </select>
  <select id="selectByEmployeeCount"  resultType="Integer">
    select count(*)
    from tb_customerproject
    where employeeId = #{employeeId,jdbcType=INTEGER} and state > #{state,jdbcType=INTEGER}
  </select>
  <select id="selectByProject"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_customerproject
    where projectId = #{projectId,jdbcType=INTEGER} and state > #{state,jdbcType=INTEGER}
  </select>
</mapper>