<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lr.dao.employeeLogMapper">
  <resultMap id="BaseResultMap" type="cn.lr.po.employeeLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="employeeId" jdbcType="INTEGER" property="employeeId" />
    <result column="dateTime" jdbcType="TIMESTAMP" property="dateTime" />
    <result column="goalAchievement" jdbcType="VARCHAR" property="goalAchievement" />
    <result column="taskAchievement" jdbcType="VARCHAR" property="taskAchievement" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="feel" jdbcType="VARCHAR" property="feel" />
    <result column="money" jdbcType="VARCHAR" property="money" />
    <result column="customer" jdbcType="VARCHAR" property="customer" />
    <result column="run" jdbcType="VARCHAR" property="run" />
    <result column="person" jdbcType="VARCHAR" property="person" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, employeeId, dateTime, goalAchievement, taskAchievement, reason, feel, money, 
    customer, run, person, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_employeelog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_employeelog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.lr.po.employeeLog">
    insert into tb_employeelog (id, employeeId, dateTime, 
      goalAchievement, taskAchievement, reason, 
      feel, money, customer, 
      run, person, state)
    values (#{id,jdbcType=INTEGER}, #{employeeId,jdbcType=INTEGER}, #{dateTime,jdbcType=TIMESTAMP}, 
      #{goalAchievement,jdbcType=VARCHAR}, #{taskAchievement,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, 
      #{feel,jdbcType=VARCHAR}, #{money,jdbcType=VARCHAR}, #{customer,jdbcType=VARCHAR}, 
      #{run,jdbcType=VARCHAR}, #{person,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.lr.po.employeeLog">
    insert into tb_employeelog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="employeeId != null">
        employeeId,
      </if>
      <if test="dateTime != null">
        dateTime,
      </if>
      <if test="goalAchievement != null">
        goalAchievement,
      </if>
      <if test="taskAchievement != null">
        taskAchievement,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="feel != null">
        feel,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="customer != null">
        customer,
      </if>
      <if test="run != null">
        run,
      </if>
      <if test="person != null">
        person,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="employeeId != null">
        #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="dateTime != null">
        #{dateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goalAchievement != null">
        #{goalAchievement,jdbcType=VARCHAR},
      </if>
      <if test="taskAchievement != null">
        #{taskAchievement,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="feel != null">
        #{feel,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=VARCHAR},
      </if>
      <if test="customer != null">
        #{customer,jdbcType=VARCHAR},
      </if>
      <if test="run != null">
        #{run,jdbcType=VARCHAR},
      </if>
      <if test="person != null">
        #{person,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.lr.po.employeeLog">
    update tb_employeelog
    <set>
      <if test="employeeId != null">
        employeeId = #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="dateTime != null">
        dateTime = #{dateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goalAchievement != null">
        goalAchievement = #{goalAchievement,jdbcType=VARCHAR},
      </if>
      <if test="taskAchievement != null">
        taskAchievement = #{taskAchievement,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="feel != null">
        feel = #{feel,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=VARCHAR},
      </if>
      <if test="customer != null">
        customer = #{customer,jdbcType=VARCHAR},
      </if>
      <if test="run != null">
        run = #{run,jdbcType=VARCHAR},
      </if>
      <if test="person != null">
        person = #{person,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.lr.po.employeeLog">
    update tb_employeelog
    set employeeId = #{employeeId,jdbcType=INTEGER},
      dateTime = #{dateTime,jdbcType=TIMESTAMP},
      goalAchievement = #{goalAchievement,jdbcType=VARCHAR},
      taskAchievement = #{taskAchievement,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      feel = #{feel,jdbcType=VARCHAR},
      money = #{money,jdbcType=VARCHAR},
      customer = #{customer,jdbcType=VARCHAR},
      run = #{run,jdbcType=VARCHAR},
      person = #{person,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>