<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lr.dao.taskMapper">
  <resultMap id="BaseResultMap" type="cn.lr.po.task">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="companyId" jdbcType="INTEGER" property="companyId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
    <result column="prevType" jdbcType="INTEGER" property="prevType" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="step" jdbcType="INTEGER" property="step" />
    <result column="postIdList" jdbcType="VARCHAR" property="postIdList" />
    <result column="employeeIdList" jdbcType="VARCHAR" property="employeeIdList" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, companyId, name, content, rank, prevType, type, step, postIdList, employeeIdList, 
    state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.lr.po.task" useGeneratedKeys="true" keyProperty="id">
    insert into tb_task (id, companyId, name, 
      content, rank, prevType, 
      type, step, postIdList, 
      employeeIdList, state)
    values (#{id,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{rank,jdbcType=INTEGER}, #{prevType,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{step,jdbcType=INTEGER}, #{postIdList,jdbcType=VARCHAR}, 
      #{employeeIdList,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.lr.po.task" useGeneratedKeys="true" keyProperty="id">
    insert into tb_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyId != null">
        companyId,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="rank != null">
        rank,
      </if>
      <if test="prevType != null">
        prevType,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="step != null">
        step,
      </if>
      <if test="postIdList != null">
        postIdList,
      </if>
      <if test="employeeIdList != null">
        employeeIdList,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="prevType != null">
        #{prevType,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="step != null">
        #{step,jdbcType=INTEGER},
      </if>
      <if test="postIdList != null">
        #{postIdList,jdbcType=VARCHAR},
      </if>
      <if test="employeeIdList != null">
        #{employeeIdList,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.lr.po.task">
    update tb_task
    <set>
      <if test="companyId != null">
        companyId = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        rank = #{rank,jdbcType=INTEGER},
      </if>
      <if test="prevType != null">
        prevType = #{prevType,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="step != null">
        step = #{step,jdbcType=INTEGER},
      </if>
      <if test="postIdList != null">
        postIdList = #{postIdList,jdbcType=VARCHAR},
      </if>
      <if test="employeeIdList != null">
        employeeIdList = #{employeeIdList,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.lr.po.task">
    update tb_task
    set companyId = #{companyId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=INTEGER},
      prevType = #{prevType,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      step = #{step,jdbcType=INTEGER},
      postIdList = #{postIdList,jdbcType=VARCHAR},
      employeeIdList = #{employeeIdList,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByCompanyId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_task
    where companyId = #{companyId,jdbcType=INTEGER} and  prevType = #{prevType,jdbcType=INTEGER} 
    <if test="type != null">
        and type = #{type,jdbcType=INTEGER}
     </if>  
     and state > #{state,jdbcType=INTEGER} order by step desc limit #{page},#{size} 
  </select>
  <select id="selectByCompanyCount"  resultType="Integer">
    select count(*)
    from tb_task
    where companyId = #{companyId,jdbcType=INTEGER} and  prevType = #{prevType,jdbcType=INTEGER}  
   <if test="type != null">
        and type = #{type,jdbcType=INTEGER}
   </if>  and state > #{state,jdbcType=INTEGER}
  </select>
   <select id="selectByCompanyAndPrevTypeAndTypeAndStep" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_task
    where companyId = #{companyId,jdbcType=INTEGER} and  prevType = #{prevType,jdbcType=INTEGER} 
    and type = #{type,jdbcType=INTEGER} and step = 1 
  </select>
   <select id="selectByPost" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_task
    where postIdList like concat('%',#{postId},'%') 
    <if test="prevType != null">
        and prevType = #{prevType,jdbcType=INTEGER}
     </if>  
    <if test="type != null">
        and type = #{type,jdbcType=INTEGER}
     </if>  
  </select>
</mapper>